body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* TEXT ELEMENT STYLING */

h1 {
    font-size: 64px;
    margin-bottom: 0;
}

h2 { 
    font-size: 28px;
    font-weight: 700;
}

h3 { 
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.50px;
    letter-spacing: 0.40px;
    word-wrap: break-word;
    margin: 0 0;
}

/* HERO SECTION */

#hero-section {
    background: url(./images/birmingham.jpeg);
    background-size: cover;
    color: white;
    padding: 130px 150px;
    text-shadow: 5px 5px 5px #696D7D;
    text-align: center;
    margin-bottom: 0;
}

#hero-paragraph {
    width: 450px;
    margin: 16px auto 0 auto;
    text-shadow: 5px 5px 5px #696D7D;

}

/* ACTIVITY SECTION */

#activity-section {
    margin: 64px 100px;
    color: #696D7D  ;
    text-align: center;
}

#activity-content {
    display: flex;
}

.activity {
    padding: 48px 40px;
    background-color: #F0F0F0;
    border-radius: 12px;
    text-align: center;
    margin: 28px 24px 0 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
}

.activity:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

.activity-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* STYLING FOR THE LIBRARY SECTION */
#library {
    border: 5px solid #696D7D;
}

/* STYLING FOR THE WINTERBOURNE SECTION */
#winterbourne {
    border: 5px solid #696D7D;
}

/* STYLING FOR THE EDGBASTON SECTION */
#edgbaston {
    border: 5px solid #696D7D;
}

/* HISTORY SECTION */

#history {
    background-color: #F0F0F0;
    display: flex;
    padding: 56px 100px 56px 150px;
    justify-content: center;
}

#history-details {
    width: 400px;
    margin: auto 100px auto 0;
}

#history-img {
    width: 500px;
    border-radius: 8px;
}

/* GUIDE SECTION */

#guide-section {
    border: 2px solid #696D7D;
    display: flex;
    margin: 64px auto 56px auto;
    background-color: #F0F0F0;
    border-radius: 12px;
    overflow: hidden;
    height: 400px;
    width: 800px;
}

#guide-img {
    background-image: url(./images/me.jpg);
    background-size: cover;
    width: 400px;
    margin-right: 75px;
}

#guide-details {
    width: 250px;
    margin: auto 0;
}

h4 {
    margin: 8px 0 8px 0;
}

/* FOOTER STYLING */

#footer {
    text-align: center;
    padding: 24px 0 24px 0;
    background-color: #F0F0F0;
}
